@media (width>768px) {
  body {
    overflow: hidden;
  }
  .container {
    max-width: 1200px;
    padding-inline: 39;
  }

  .wheader {
    padding-inline: 39px;
    gap: 35px;
  }

  .wheader-num {
    font-size: 120px;
  }

  .wheader-deg {
    font-size: 50px;
    bottom: 35px;
  }

  #cloud {
    width: 55px;
    height: 55px;
  }

  .location h2 {
    font-size: 48px;
  }

  .location p {
    font-size: 16px;
  }

  .temperature {
    padding-inline: 207px;
  }
  .header {
    padding-inline: 30px;
    margin-top: 30px;
  }
}

@media (width>1200px) {
  body {
    overflow: hidden;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 2000px;
  }

  .header {
    padding: 0 40px;
  }

  .logo {
    width: 90px;
    height: 47px;
  }

  .wheader {
    /* padding-left: 40px; */
    margin-top: 500px;
  }

  .blur {
    width: 30%;
    height: 100vh;
    margin: 0;
    padding-left: 40px;
    padding-top: 60px;
    display: flex;
    /* position: relative; */
  }

  .search-input {
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 65px;
  }

  .input {
    width: 280px;
  }

  .desk-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}
